package components

templ Index(name string) {
	@DocType()
	@Head()
	@Body(pageIndex(name))
}

templ pageIndex(name string) {
	<div class="p-4 bg-gray-100 border rounded-lg">
		<p>Hello, <span class="text-xl font-bold">{ name }</span>!</p>
	</div>
}
